.cart-name {
    font-size: 18px;
}

.number-input.disabled {
    opacity: 0.75;
    pointer-events: none;
}

.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}
.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 2px;
    background-color: var(--textColor);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.number-input button:hover {
    background-color: var(--mainColor);
}
.number-input button:hover:before,
.number-input button:hover:after {
    background-color: #fff;
}

.number-input input[type="number"] {
    max-width: 2rem;
    border: none;
    font-size: 13px;
    height: 24px;
    -moz-appearance: textfield;
    outline: none;
    color: var(--textColor);
}
.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*============================================================================
  10. CART 
  ==============================================================================*/
.action-link {
    color: var(--mainColor);
    text-decoration: none;
    transition: all 0.3s ease;
}
.action-link:hover {
    color: var(--mainColor);
}

.ux-card {
    border: 1px solid #bebebe;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 20px;
}
@media (max-width: 767px) {
    .ux-card {
        padding: 14px;
    }
}
.ux-card:hover {
    cursor: pointer;
    background-color: #fff;
}
.ux-card:hover a {
    color: var(--mainColor);
}
.ux-card.deleted {
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s;
    height: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    border: none;
}
.ux-card:last-child {
    margin-bottom: 0 !important;
}

.product {
    padding-left: 120px;
}
.product img {
    max-height: 80px;
    max-width: 80px;
    width: auto;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}
@media (max-width: 767px) {
    .product img {
        left: 16px;
        max-height: 70px;
        max-width: 70px;
    }
}
.product .item-title .js-titlte {
    font-weight: 500;
}
@media (max-width: 767px) {
    .product {
        padding-left: 110px;
    }
    .product .item-title {
        font-size: 14px;
    }
}
.product .price {
    font-size: 20px;
}
.product .remove {
    font-size: 0;
    right: 0;
    top: -12px;
    padding: 0;
    width: 24px;
    height: 24px;
    background: var(--accentColor2);
}
.product .remove:before {
    content: "";
    width: 12px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 2px;
    overflow: hidden;
}
.product .remove:after {
    content: "";
    width: 12px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 2px;
    overflow: hidden;
}

.bx_right_cart {
    position: sticky;
    top: 25px;
    z-index: 2;
}

.summary dl {
    margin: 0;
}

.summary .total dd {
    font-size: 24px;
    color: var(--accentColor2);
}

.btn-checkout {
    border: none;
    background: var(--mainColor);
    font-size: 16px;
    transition: all 0.3s ease;
}
.btn-checkout:hover {
    background: var(--mainColor2);
}

.mew_mobi_bar .btn-checkout {
    font-size: 14px;
    min-width: initial;
    width: calc(40% - 8px);
    border-radius: 10px !important;
    margin: 0 10px 12px 0;
}
@media (max-width: 425px) {
    .mew_mobi_bar .btn-checkout {
        font-size: 12px;
    }
}
@media (max-width: 372px) {
    .mew_mobi_bar .btn-checkout {
        font-size: 11px;
    }
}
@media (max-width: 372px) {
    .mew_mobi_bar .btn-checkout {
        font-size: 11px;
    }
}

.cart__basket__item {
    flex-wrap: wrap;
}

.bm_checkout {
    overflow: hidden;
}

.free-gifts {
    border: 1px dashed var(--mainColor);
    padding-bottom: 5px !important;
}
.free-gifts .vmore_c {
    left: 0;
    bottom: 0px;
    border-top: 1px dashed var(--mainColor);
    background: #fff;
    padding: 7px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media (max-width: 767px) {
    .free-gifts {
        padding-bottom: 40px !important;
    }
    .free-gifts .none_mb {
        visibility: hidden;
        transform: rotateX(90deg);
        transition: margin 0.8s;
        margin-top: -92px;
    }
    .free-gifts .none_mb.open_gift {
        visibility: visible;
        transform: rotateX(0deg);
        margin-top: 0;
        transition: margin 0.5s, transform 0.5s;
    }
    .free-gifts .v_more_coupon {
        color: var(--mainColor);
    }
}
.free-gifts legend {
    width: auto;
    color: var(--mainColor);
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid;
    font-size: 18px;
}
.free-gifts legend img {
    max-width: 23px;
    mix-blend-mode: multiply;
    vertical-align: -3px;
}
.free-gifts .item {
    line-height: normal;
}
.free-gifts .item .m_copy {
    background: var(--mainColor);
    border-radius: 15px;
    border: 1px solid;
}
.free-gifts .item .m_copy:hover {
    background: #fff;
    color: var(--mainColor) !important;
}
.free-gifts .item .line_b {
    border-bottom: 1px dashed #ff6307;
}
.free-gifts .item:last-child .line_b {
    border-bottom: none;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
