
.sectionContentStore .leftCollumStore {
    background: var(--lightLeftColBackground);
}

.sectionContentStore .leftCollumStore .form-group label {
    display: block;
}

.sectionContentStore .leftCollumStore .form-group label.select-city-label {
    font-size: 1rem;
}

.sectionContentStore .leftCollumStore .resultStore {
    overflow-y: auto;
}

@media (min-width: 768px) {
    .sectionContentStore .leftCollumStore .resultStore {
        height: 395px;
    }
}

@media (max-width: 767px) {
    .sectionContentStore .leftCollumStore .resultStore {
        height: calc(300px - 92px);
    }
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item {
    font-size: 0.875rem;
    cursor: pointer;
    border: 1px solid var(--mainColor);
    transition: all 0.5s;
    background: #fff;
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item:hover,
.sectionContentStore .leftCollumStore .resultStore #list-store .item.checked {
    background: var(--mainColor);
    color: #fff;
}

.sectionContentStore .leftCollumStore .resultStore::-webkit-scrollbar {
    width: 3px;
    background-color: var(--mainColor);
}

.sectionContentStore .leftCollumStore .resultStore::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: var(--mainColor);
}

.sectionContentStore .leftCollumStore .resultStore::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    background-color: #ddd;
}

.sectionContentStore #map {
    width: 100%;
}

@media (min-width: 768px) {
    .sectionContentStore #map {
        height: 500px;
    }
}

@media (max-width: 767px) {
    .sectionContentStore #map {
        height: 300px;
    }
}

.district {
    font-size: 1rem;
}

@keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-o-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-ms-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-webkit-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-moz-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

.cssload-loader {
    width: 244px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #1c1c1c;
    margin: 30px 0;
}

.cssload-loader::before,
.cssload-loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #1c1c1c;
    position: absolute;
    animation: cssload-load 0.81s infinite alternate ease-in-out;
    -o-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}

.cssload-loader:before {
    top: 0;
}

.cssload-loader:after {
    bottom: 0;
}

#store-list .store-item {
    transition: all 0.3s ease;
    border: 1px solid var(--mainColor);
}

#store-list .store-item.active,
#store-list .store-item:hover {
    color: #fff;
    background: var(--mainColor);
}

#store-list .store-item.active a,
#store-list .store-item:hover a {
    color: #fff;
}

#store-list .store-list-left .b_store {
    max-height: 395px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

#store-list .store-list-left .b_store::-webkit-scrollbar {
    width: 3px;
    background-color: var(--mainColor);
}

#store-list .store-list-left .b_store::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: var(--mainColor);
}

#store-list .store-list-left .b_store::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    background-color: #ddd;
}

#js-select-province {
    box-shadow: none;
}

.item_nb {
    border-radius: 10px;
    line-height: normal;
}

.item_nb .tt {
    font-size: 18px;
}

.item_nb .bt {
    font-size: 36px;
}

.item_nb:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 84px;
    height: 72px;
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 991px) {
    .item_nb:after {
        width: 55px;
    }
}

@media (max-width: 480px) {
    .item_nb:after {
        width: 55px;
    }
}

.item_nb.b_1 {
    background-color: #ff9800;
}

.item_nb.b_1:after {
    background-image: url(//theme.hstatic.net/200000830051/1001188866/14/nb_ico_1.png?v=502);
}

.item_nb.b_2 {
    background-color: #03a9f4;
}

.item_nb.b_2:after {
    background-image: url(//theme.hstatic.net/200000830051/1001188866/14/nb_ico_2.png?v=502);
}

.item_nb.b_3 {
    background-color: #4caf50;
}

.item_nb.b_3:after {
    background-image: url(//theme.hstatic.net/200000830051/1001188866/14/nb_ico_3.png?v=502);
}

.item_nb.b_4 {
    background-color: #9c27b0;
}

.item_nb.b_4:after {
    background-image: url(//theme.hstatic.net/200000830051/1001188866/14/nb_ico_4.png?v=502);
}

@media (max-width: 991px) {
    .title-head:before {
        left: 0;
        transform: translateX(0);
    }
}