.breadcrumbs svg {
    fill: var(--mainColor);
    vertical-align: -2px; }
  
  .breadcrumbs .inner {
    z-index: 1; }
  
  .breadcrumbs .breadcrumb .slash-divider svg {
    stroke: var(--textColor);
    vertical-align: 0px; }
  
  .breadcrumbs.sticky {
    position: sticky;
    top: 50px;
    z-index: 8;
    background: #fff;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 5px 0; }
  
  /*=========================================*/
  ul.share-buttons {
    list-style: none;
    padding: 0; }
    ul.share-buttons li {
      display: inline-block; }
    ul.share-buttons .sr-only {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden; }
    ul.share-buttons img {
      width: 32px; }
    ul.share-buttons a:hover {
      transform: translateY(-5px); }
  
  expandable-content .expandable-content {
    overflow: hidden;
    max-height: var(--maxHeight);
    position: relative;
    font-size: 14px; }
    expandable-content .expandable-content.scrollable:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 65px;
      bottom: 0;
      left: 0;
      background: linear-gradient(#ffffff00, #fff);
      opacity: 1;
      visibility: visible;
      transtion: all 0.3s ease; }
  
  expandable-content.expanded .expandable-content {
    max-height: none !important; }
    expandable-content.expanded .expandable-content:after {
      opacity: 0;
      visibility: hidden; }
  
  expandable-content.expanded .expandable-content-toggle svg {
    transform: rotate(-90deg); }
  
  expandable-content .expandable-content-toggle svg {
    stroke: #212529;
    transform: rotate(90deg); }
  
  expandable-content .expandable-content-toggle:hover {
    color: var(--mainColor); }
    expandable-content .expandable-content-toggle:hover svg {
      stroke: var(--mainColor); }
  
  expandable-content .expandable-content-toggle.hidden {
    display: none; }
  