.top_20px {
    top: 20px; }
  
  .article-name {
    font-size: 1.2rem; }
  
  .blog-name {
    font-size: 22px; }
  
  .page-title h1 {
    font-size: 25px;
    color: var(--mainColor);
    margin: 20px 0; }
  
  .sidebar .buttons-set button {
    color: #fff;
    border: 1px solid var(--mainColor);
    background: var(--mainColor);
    padding: 5px 25px;
    min-width: 150px;
    margin-top: 10px;
    border-radius: 20px; }
  
  .com_info {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover; }
  
  .bg-clock {
    background: var(--bg_cd_page); }
  
  .cl-clock {
    color: var(--cl_cd_page); }
  
  .bg-item {
    background: var(--bg_cd_item); }
  
  @media (min-width: 768px) {
    .mew_flash_page .swiper-slide {
      width: calc(100%/3 - 10px);
      margin-right: 15px; } }
  
  @media (min-width: 992px) {
    .mew_flash_page .swiper-slide {
      width: calc(100%/4 - 11.25px);
      margin-right: 15px; } }
  
  @media (min-width: 1200px) {
    .mew_flash_page .swiper-slide {
      width: calc(100%/5 - 12px);
      margin-right: 15px; } }
  
  @media (max-width: 767px) {
    .mew_flash_page .swiper-slide {
      width: calc(100%/2 - 7.5px);
      margin-right: 15px; } }
  
  .rte a {
    color: var(--mainColor); }
    .rte a:hover {
      filter: brightness(0.6); }
  
  .google-map iframe {
    border: none;
    width: 100% !important;
    height: 100%;
    min-height: 400px; }
  
  .buttons-set {
    margin-bottom: 15px; }
  
  .contact {
    padding-top: 10px; }
  
  .page-title h1 {
    font-size: 25px;
    margin: 20px 0; }
  
  .rte h2 {
    border-left: 2px solid var(--btnBuy);
    padding-left: 10px;
    color: var(--btnBuy);
    font-size: 20px;
    margin-bottom: 10px; }
  
  .rte h3 {
    font-size: 18px; }
  
  .rte h4 {
    font-size: 16px; }
  
  .rte h5 {
    font-size: 14px; }
  
  .rte h6 {
    font-size: 12px; }
  
  .blog-list h3 img {
    max-width: 28px; }
  
  .blog-list ul li {
    min-width: 25%;
    flex: 0 0 25%; }
    @media (max-width: 767px) {
      .blog-list ul li {
        min-width: 50%;
        flex: 0 0 50%; } }
    .blog-list ul li .image {
      width: 3rem;
      height: 3rem;
      min-width: 48px; }
      .blog-list ul li .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .blog-list ul li .text h4 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0; }
    .blog-list ul li .text span {
      font-size: .75rem;
      line-height: 1rem; }
  
  .info_prodject .summary {
    width: 850px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 14px; }
  
  .info_prodject .tit_pr {
    font-size: 18px;
    color: var(--mainColor); }
    @media (min-width: 768px) {
      .info_prodject .tit_pr {
        pointer-events: none; } }
    @media (max-width: 767px) {
      .info_prodject .tit_pr {
        font-size: 16px;
        color: #ffffff;
        display: block;
        background: var(--mainColor);
        border-radius: 6px;
        padding: 5px 40px 5px 15px;
        position: relative; }
        .info_prodject .tit_pr:before, .info_prodject .tit_pr:after {
          content: '';
          width: 12px;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%); }
        .info_prodject .tit_pr:after {
          transform: translateY(-50%) rotate(0deg); }
        .info_prodject .tit_pr.collapsed:after {
          transform: translateY(-50%) rotate(-90deg); } }
  
  .info_prodject .line_middle:before {
    content: '';
    width: 1px;
    position: absolute;
    height: calc(100% + 40px);
    background: #fff;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 768px) {
      .info_prodject .line_middle:before {
        left: 50%; } }
    @media (max-width: 767px) {
      .info_prodject .line_middle:before {
        left: 24px; } }
  
  .info_prodject .cir:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--mainColor);
    position: absolute;
    top: 8px;
    transform: translateX(50%);
    filter: contrast(3); }
    @media (min-width: 768px) {
      .info_prodject .cir:before {
        right: 0;
        display: none; } }
    @media (max-width: 767px) {
      .info_prodject .cir:before {
        left: 9px;
        display: block; } }
  
  @media (min-width: 768px) {
    .info_prodject .cir-block:before {
      display: block; } }
  
  @media (min-width: 992px) {
    .intro_block .left {
      padding: 0 3%; } }
  
  @media (min-width: 992px) {
    .intro_block .right {
      padding: 0 3%; } }
  
  .intro_block .title {
    font-size: 36px;
    background: none; }
    @media (max-width: 991px) {
      .intro_block .title {
        font-size: 18px; } }
    .intro_block .title:before, .intro_block .title:after {
      display: none; }
  
  @media (max-width: 991px) {
    .intro_block.intro_block_2 .left {
      order: 2; } }
  
  @media (max-width: 991px) {
    .intro_block.intro_block_2 .right {
      order: 1; } }
  
  .intro_block.intro_block_3 .imgWrap {
    width: 80%;
    margin: 0 auto; }
  
  .intro_block.intro_block_3 .title {
    text-align: center; }
  
  .intro_block.intro_block_3 .item {
    text-align: center; }
  
  .intro_block.intro_block_3 h3 {
    font-size: 24px;
    font-weight: 600; }
    @media (max-width: 991px) {
      .intro_block.intro_block_3 h3 {
        font-size: 18px; } }
  