@media (min-width: 567px) {
    .m_cate_slide .swiper-slide {
        width: calc(100% / 1.5 - 7.5px);
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .mew_flash .swiper-slide,
    .mew_product_main .swiper-slide {
        width: calc(100% / 3 - 10px);
        margin-right: 15px;
    }
    .mew_product_tab .swiper-slide {
        width: calc(100% / 3 - 10px);
        margin-right: 15px;
    }
    .mew_video_index .swiper-slide {
        width: calc(100% / 2.3 - 10px);
        margin-right: 15px;
    }
    .m_cate_slide .swiper-slide {
        width: calc(100% / 2 - 7.5px);
        margin-right: 15px;
    }
}

@media (min-width: 992px) {
    .m_people .swiper-slide {
        width: calc(100% / 2 - 5px);
        margin-right: 10px;
    }
    .mew_flash .swiper-slide,
    .mew_product_main .swiper-slide {
        width: calc(100% / 4 - 11.25px);
        margin-right: 15px;
    }
    .mew_product_tab .swiper-slide,
    .mew_video_index .swiper-slide,
    .m_cate_slide .swiper-slide {
        width: calc(100% / 3 - 10px);
        margin-right: 15px;
    }
    .mew_blog .swiper-slide {
        width: calc(100% / 2 - 7.5px);
        margin-right: 15px;
    }
}

@media (min-width: 1200px) {
    .mew_flash .swiper-slide,
    .mew_product_main .swiper-slide {
        width: calc(100% / 5 - 12px);
        margin-right: 15px;
    }
    .mew_product_tab .swiper-slide,
    .mew_video_index .swiper-slide,
    .m_cate_slide .swiper-slide {
        width: calc(100% / 4 - 11.25px);
        margin-right: 15px;
    }

    .mew_product_tab .swiper-slide-edit {
        width: calc(100% / 5 - 12px) !important;
        margin-right: 15px !important;
    }

    .m_cate_slide_edit .swiper-slide-edit-famus {
        width: calc(100% / 3 - 11.25px) !important;
        margin-right: 15px;
    }
    .mew_blog .swiper-slide {
        width: calc(100% / 3 - 10px);
        margin-right: 15px;
    }
}

.swiper-slide-edit {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  transition-property: transform;
}

@media (max-width: 767px) {
    .mew_flash .swiper-slide,
    .mew_product_main .swiper-slide,
    .mew_product_tab .swiper-slide {
        width: calc(100% / 2 - 7.5px);
        margin-right: 15px;
    }
    .mew_video_index .swiper-slide {
        width: calc(100% / 1.2 - 7.5px);
        margin-right: 15px;
    }
    .mew_blog .swiper-slide {
        width: calc(100% / 1.8 - 7.5px);
        margin-right: 15px;
    }
}

.mew_slide .mew_slide_p {
    bottom: 0;
}

.video-bn {
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: contrast(1.5);
}

.mask .big-tit {
    font-size: xxx-large;
    color: #ffc107;
    text-shadow: 0 2px white;
}

.mask .content {
    z-index: 3;
    font-size: xx-large;
}

@media (max-width: 567px) {
    .mask .big-tit {
        font-size: xx-large;
    }
    .mask .content {
        font-size: x-large;
    }
}

.mask:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

@media (min-width: 576px) {
    section.product_poli_wrap {
        background: var(--lightLeftColBackground);
    }
}

section.product_poli_wrap .product_poli {
    font-size: 1.2rem;
}
section.product_poli_wrap .product_poli .item img {
    max-width: 40px;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
}
@media (max-width: 575px) {
    section.product_poli_wrap .product_poli {
        font-size: 1rem;
    }
    section.product_poli_wrap .product_poli .item {
        border: 1px dashed var(--mainColor);
        border-radius: 10px;
    }
    section.product_poli_wrap .product_poli .item img {
        max-width: 35px;
    }
}

@media (max-width: 767px) {
    .m_cate_slide .mc_prev,
    .m_cate_slide .mc_next {
        display: none !important;
    }
}

.box_cate {
    will-change: transform;
}
.box_cate:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: linear-gradient(30deg, var(--mainColor), var(--mainColor2));
}
.box_cate .img_cate {
    transition: all 0.3s ease-in-out;
}
.box_cate .img_cate img {
    filter: drop-shadow(0px 3px 0px #fff);
}
.box_cate .img_cate:hover {
    transform: translateY(-7px);
}
.box_cate .child .big_tit {
    font-size: 18px;
}
.box_cate a {
    color: #fff;
}
.box_cate a:hover {
    color: var(--menuHover);
}

@media (max-width: 991px) {
    .scroll_mobi {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

#flash_sale .border_flash {
    border: 3px solid var(--bg_bt_marquee);
}

#flash_sale .mew_marquee .marquee {
    white-space: nowrap;
    direction: ltr;
    background: var(--bg_marquee);
}
#flash_sale .mew_marquee .marquee .marquee-content {
    animation: marquee var(--duration) linear infinite;
}
#flash_sale .mew_marquee .marquee:hover .marquee-content {
    animation-play-state: paused;
}
#flash_sale .mew_marquee .marquee .marquee-text {
    font-size: var(--text-size);
    line-height: initial;
}
#flash_sale .mew_marquee .marquee .marquee-text a {
    color: var(--cl_marquee);
}
#flash_sale .mew_marquee .marquee .marquee-button a {
    background: var(--bg_bt_marquee);
    color: #fff;
    border-radius: 20px;
}
#flash_sale .mew_marquee .marquee .marquee-button a:hover {
    box-shadow: 1px 2px 3px var(--cl_marquee);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.view_mores:hover {
    box-shadow: 0 0px 2px 0 var(--mainColor), 0 0px 6px 0px var(--mainColor);
}

.b_product {
    gap: 15px;
}

.b_product_5_1 .product-item .item-title a,
.b_product_5_2 .product-item .item-title a {
    font-size: 0.9rem;
}

.b_product_5_1 .swiper-button-next,
.b_product_5_1 .swiper-button-prev,
.b_product_5_2 .swiper-button-next,
.b_product_5_2 .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
}

.bt_product_2 .item-info .arthor {
    padding-left: 50px;
}
.bt_product_2 .item-info .arthor:before {
    content: "";
    height: 2px;
    width: 42px;
    background: var(--mainColor);
    position: absolute;
    left: 0;
    top: 50%;
}

.bt_product_2 .item-info .item_sum p,
.bt_product_2 .item-info .item-price p {
    margin: 0;
}

.bt_product_2 .item-info .item_sum .special-price,
.bt_product_2 .item-info .item_sum .regular-price,
.bt_product_2 .item-info .item-price .special-price,
.bt_product_2 .item-info .item-price .regular-price {
    font-size: 22px;
    margin-right: 10px;
    color: #de0000;
    font-weight: 600;
}

.bt_product_2 .item-info .action {
    background: var(--mainColor);
    color: #fff;
    font-size: 1.3rem;
    border-radius: 25px;
}

.bt_product_2 .swiper-pagination {
    position: relative;
    bottom: 0;
    text-align: left;
}
.bt_product_2 .swiper-pagination .swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    display: inline-block;
    border-radius: 0;
    background: #ccc;
    border: 1px solid #ccc;
    opacity: 0.5;
    outline: none;
    max-width: calc(100% / 6 - 8px);
}
.bt_product_2
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--mainColor);
    border: 1px solid var(--mainColor);
    opacity: 1;
}

.m_people {
    margin-left: -8px;
    margin-right: -8px;
}
.m_people .content_tip {
    box-shadow: 0 0 10px 0 rgba(4, 4, 4, 0.1);
    border-radius: 10px;
}
.m_people .name {
    color: var(--mainColor);
}
.m_people .i_fm {
    width: 80px;
    height: 80px;
}
.m_people .imga {
    gap: 12px;
}
.m_people .imga img {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--mainColor);
}
.m_people svg {
    fill: var(--mainColor);
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}
.m_people .m_people_p {
    bottom: 0;
}

.head_box {
    gap: 5px;
}
.head_box .list_link_pr {
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
}
.head_box .list_link_pr a {
    background-color: #f3f4f6;
    padding: 5px 10px;
    font-size: 13px;
    white-space: nowrap;
}
.head_box .list_link_pr a:hover {
    background: #fff;
    color: var(--mainColor);
    border-color: var(--mainColor) !important;
}

.view_more_blog a {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}
.view_more_blog a:hover {
    background: var(--mainColor);
    color: #fff;
}

[data-tab] [data-pos].active,
[data-tab2] [data-pos].active {
    background: #fff;
    color: var(--mainColor);
    border-color: var(--mainColor) !important;
}

[data-tab] [data-pos-content],
[data-tab2] [data-pos-content] {
    display: none;
    top: 0;
}
[data-tab] [data-pos-content].active,
[data-tab2] [data-pos-content].active {
    display: block;
    transition: all 0.3s ease;
}
[data-tab] [data-pos-content] img.loaded,
[data-tab2] [data-pos-content] img.loaded {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in;
}
